.box {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr auto;
    border-width: 3px;
    margin: 5px;
    border-style: solid;
    border-radius: 6px;
    border-color: #2b2f30;
    background-color: #2b2f30;
}

.box:hover {
    cursor: pointer;
}

.box_dropzone {
    position: absolute;
    display: none;
    background-color: rgb(153, 153, 154);
    left: -12px;
    height: 100px;
    width: 3px;
}

.box_header {
    display: flex;
    padding: 8px;
    background-color: #2b2f30;
}

.box_header_icons {
    display: none;
    height: 1.2em;
}

.box_header_title {
    flex: 1 1 auto;
    color: #FFFFFF;
}

.box_header_icons:hover {
    cursor: pointer;
}

.box:hover .box_header_icons {
    display: block;
}

.number_card {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #2b2f30;
}