[data-theme='dark'] {
    --background: black;
    --text-primary: white;
    --text-secondary: grey;
    --accent: darkred;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 1px;
    transition: 2s;
    background-color: #161B1C;
}

.box {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr auto;
    border-width: 3px;
    margin: 5px;
    border-style: solid;
    border-radius: 6px;
    border-color: #2b2f30;
    background-color: #2b2f30;
}

.box_header {
    display: flex;
    padding: 8px;
    background-color: #2b2f30;
}

.box_header_icons {
    display: none;
    height: 1.1em;
}

.box_header_icons:hover {
    cursor: pointer;
}

.box:hover .box_header_icons {
    display: block;
}